<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kulutusseurantajärjestelmä</title>
</head>
<body>
    <header>
        <h1>Tervetuloa Kulutusseurantajärjestelmään</h1>
        <nav>
            <ul>
                <li><a href="/add">Lisää kulu</a></li>
                <li><a href="/report">Näytä kulut</a></li>
            </ul>
        </nav>
    </header>

    <div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>


</body>
</html>
